<%- include('partials/header'); -%>
    <h1>Contact Us</h1>
    <p><%= co %></p>
    <button type="submit" name="submit" class="btn btn-primary"><a href="mailto:deeppatel.dp1910@gmail.com" style="color: white ;text-decoration: none;">Gmail</a></button>
    <%- include('partials/footer'); -%>
